services:
  app:
    build: .
    container_name: weather-proxy
    ports:
      - "8000:8000"
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis
    # Mount source code for development (optional, but good for "uvicorn --reload")
    volumes:
      - .:/app

  redis:
    image: redis:7-alpine
    container_name: weather-redis
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
